{% trans_default_domain 'PrestaSonataSavedFiltersBundle' %}

{% if admin is defined and action is defined and action in ['list', 'tree'] and _list_filters_actions is defined and _list_filters_actions is not empty %}
    {% set saved_filters = get_saved_filters(admin) %}
    <ul class="nav navbar-nav navbar-right filters-sets">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-star" aria-hidden="true"></i>
                {{ 'saved_filters.name'|trans }}
                <span class="badge">{{ saved_filters|length }}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-scrollable filters-sets-list" role="menu">
                {% for saved_filters in saved_filters %}
                    <li>
                        <a href="{{ saved_filters.filtersQueryString }}">{{ saved_filters.name }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="#" class="create-filters-set">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{ 'saved_filters.action.create'|trans }}
                    </a>
                    <form action="{{ path('presta_sonatasavedfilters_savedfilters_new') }}" class="hidden">
                        <div class="form-group col-sm-12">
                            <label class="sr-only" for="saved_filters_name">{{ 'saved_filters.field.name'|trans }}</label>
                            <input type="text" id="saved_filters_name" name="saved_filters[name]" placeholder="{{ 'saved_filters.field.name'|trans }}" class="form-control input-sm" />
                        </div>
                        <input type="hidden" id="saved_filters_admin_class" name="saved_filters[adminClass]" value="{{ admin.class }}" />
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn btn-sm btn-success pull-right">{{ 'saved_filters.button.submit'|trans }}</button>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
{% endif %}
